<table style="background: lightgrey;">
<tr>
<td><%= answer_counter +1 %> ) Answer :- <%= answer.a_value%></td>
</tr>
<tr>
<td>Created By :- <%= answer.user.email rescue ''%></td>
</tr>
</table>
<tr></tr>